<%- include('header') %>

<h2>
    Admin Categorias:
    <a href="/admin/categorias/nova"><span>Add New Category<span></a> | <a href="javascript:history.back()"> <span> Back </span></a>
</h2>

<div>
    <ul>
        <% categorias.forEach(categoria => { %>
        <li>
            <%- categoria.categoria %> | 
            <a href="/admin/categorias/delete/<%- categoria.id %>" onclick="return confirm ('Do you want to delete?')">Delete</a>
            <a href="/admin/categorias/editar/<%- categoria.id %>">Edit</a>
        </li>
        <% }) %>
    </ul>
</div>

<%- include('footer') %>