<%- include('header') %>

<h2>
    Edit Role:
    <a href="javascript:history.back()"> <span> Back </span></a>
</h2>

<div>
<form action="" method="post">

    <label for="titulo">Title:</label>
    <input name="titulo" id="titulo" type="text" value="<%- vaga.titulo %>"><br>

    <label for="descricao">Description:</label>
    <textarea name="descricao" id="decricao" cols="30" rows="10"><%- vaga.descricao %></textarea><br>
    
    <label for="categoria">Category:</label>
    <select name="categoria" id="categoria">

        <% categorias.forEach(categoria =>{ %>
            <option value="<%= categoria.id %>" <% if(categoria.id == vaga.categoriaId){ %> selected <% } %> > <%- categoria.categoria %></option>
        <% }) %>
    </select><br>

    <button type="submit">Update role</button>
</form>
</div>

<%- include('footer') %>