<%- include('header') %>

<h2>
    Admin Roles:
    <a href="/admin/vagas/nova"><span>Add New Role</span></a> | <a href="javascript:history.back()"> <span> Back </span></a>
</h2>

<div>
    <ul>
        <% vagas.forEach(vaga => { %>
        <li>
            <%- vaga.titulo %> | 
            <a href="/admin/vagas/delete/<%- vaga.id %>" onclick="return confirm ('Do you want to delete?')">Delete</a>
            <a href="/admin/vagas/editar/<%- vaga.id %>">Edit</a>
        </li>
        <% }) %>
    </ul>
</div>

<%- include('footer') %>